// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.font-p{
	font-size: 20px;
}

.font-p1{
	font-size: 17px;
}

.comment-height{
	height: 31px;
}

.error-color{
	color: red;
}
